#include <stdlib.h>
#include <stdio.h>

inline void *align32(void *addr) {
    return (void *) (((long)addr + 31) & ~31L);
}


void kernel(long iterations) {

    #define ARRAY_SIZE {{arraySize}}
    int i;
    
    // Create arrayVariables
    {{#arrayVariables}}
    double array_{{.}}[ARRAY_SIZE+4];
    {{/arrayVariables}}
    {{#arrayVariables}}
    double *p_array_{{.}} = align32(array_{{.}});
    {{/arrayVariables}}
    for (i = 0; i < ARRAY_SIZE; i++) {
    {{#arrayVariables}}
        array_{{.}}[i] = 0.0;
    {{/arrayVariables}}
    }

    // Create rip addresses
    {{#ripVariables}}
    double {{.}}Buffer[4];
    {{/ripVariables}}
    {{#ripVariables}}
    double *{{.}} = {{.}}Buffer;
    {{/ripVariables}}

    __asm {

    xor rax, rax
    xor rbx, rbx
    xor rcx, rcx
    xor rdx, rdx
    xor rsi, rsi
    xor rdi, rdi
    xor rdi, rdi
    xor rdi, rdi
    xor r8, r8
    xor r9, r9
    xor r10, r10
    xor r11, r11
    xor r12, r12
    xor r13, r13
    xor r14, r14
    xor r15, r15
    vxorpd ymm0, ymm0, ymm0
    vxorpd ymm1, ymm1, ymm1
    vxorpd ymm2, ymm2, ymm2
    vxorpd ymm3, ymm3, ymm3
    vxorpd ymm4, ymm4, ymm4
    vxorpd ymm5, ymm5, ymm5
    vxorpd ymm6, ymm6, ymm6
    vxorpd ymm7, ymm7, ymm7
    vxorpd ymm8, ymm8, ymm8
    vxorpd ymm9, ymm9, ymm9
    vxorpd ymm10, ymm10, ymm10
    vxorpd ymm11, ymm11, ymm11
    vxorpd ymm12, ymm12, ymm12
    vxorpd ymm13, ymm13, ymm13
    vxorpd ymm14, ymm14, ymm14
    vxorpd ymm15, ymm15, ymm15

    xor {{iterationRegister}}, {{iterationRegister}}
    mov {{loopCountRegister}}, iterations
    {{#arrayVariables}}
    mov {{.}}, p_array_{{.}}
    {{/arrayVariables}}

    #ifdef IACA
    mov ebx, 111
    _emit 0x64
    _emit 0x67
    _emit 0x90
    #endif
    
    kernelLoop:
    {{#instructions}}
    {{.}}
    {{/instructions}}
    add {{iterationRegister}}, 1
    cmp {{iterationRegister}}, {{loopCountRegister}}
    jb kernelLoop
    
    #ifdef IACA
    mov ebx, 222
    _emit 0x64
    _emit 0x67
    _emit 0x90
    #endif
    }
}
