#include <stdlib.h>
#include <stdio.h>

void kernel() {
    {{#variables}}
        double {{.}}Buffer[4];
    {{/variables}}
     {{#variables}}
        double *{{.}} = {{.}}Buffer;
    {{/variables}}
    __asm {
    {{#useIaca}}
    mov ebx, 111
    _emit 0x64
    _emit 0x67
    _emit 0x90
    {{/useIaca}}
    loop:
    {{#instructions}}
        {{asm}}
    {{/instructions}}
    {{#useIaca}}
    mov ebx, 222
    _emit 0x64
    _emit 0x67
    _emit 0x90
    {{/useIaca}}
    }
}
